openapi: 3.0.3

info:
  title: SlideRule Asset Metadata Service API
  description: Web services for querying earth science dataset resources.
  version: 1.0.0
  license:
      name: BSD 3-Clause
      url: https://opensource.org/licenses/BSD-3-Clause

servers:
  - url: https://slideruleearth.io/source
    description: Asset Metadata Service (AMS)

security: []

paths:
  /ams/ATL13:
    post:
      operationId: ATL13
      summary: Query ATL13 granules
      description: >
        Query ATL13 granule metadata by lake reference ID, lake name, coordinate,
        and/or spatial/temporal filters. Single lake queries (refid, name, coord)
        are attempted in order; if a lake is found, its granules are intersected
        with any general query results.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ATL13Request'
      responses:
        '200':
          description: Successful query response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATL13Response'
        '400':
          description: Bad request or query failure

  /ams/ATL24:
    post:
      operationId: ATL24
      summary: Query ATL24 granules
      description: >
        Query ATL24 bathymetry granule metadata with spatial, temporal,
        and attribute-based filters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ATL24Request'
      responses:
        '200':
          description: Successful query response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATL24Response'
        '400':
          description: Bad request or query failure

  /ams/ATL24/granule/{name}:
    post:
      operationId: ATL24Granule
      summary: Get ATL24 granule details
      description: >
        Retrieve per-beam metadata for a specific ATL24 granule.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: The granule name
      responses:
        '200':
          description: Successful granule detail response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ATL24GranuleResponse'
        '400':
          description: Bad request or query failure

components:
  schemas:
    Coordinate:
      type: object
      properties:
        lon:
          type: number
          format: double
          description: Longitude in degrees
        lat:
          type: number
          format: double
          description: Latitude in degrees
      required:
        - lon
        - lat

    ICESat2QueryParams:
      type: object
      properties:
        poly:
          type: array
          description: Polygon vertices for spatial filtering
          items:
            $ref: '#/components/schemas/Coordinate'
        t0:
          type: string
          description: Start time filter (ISO 8601 format)
          example: '2020-01-01T00:00:00Z'
        t1:
          type: string
          description: End time filter (ISO 8601 format)
          example: '2023-12-31T23:59:59Z'
        name_filter:
          type: string
          description: Granule name filter pattern
        rgt:
          type: integer
          description: Reference ground track number
        cycle:
          type: integer
          description: Orbital cycle number
        region:
          type: integer
          description: Region number

    ATL13Request:
      allOf:
        - $ref: '#/components/schemas/ICESat2QueryParams'
        - type: object
          description: >
            All fields are optional. At least one field should be provided to get results.
          properties:
            refid:
              type: integer
              description: ATL13 lake reference ID
            name:
              type: string
              description: Lake name
            coord:
              $ref: '#/components/schemas/Coordinate'

    ATL13Response:
      type: object
      properties:
        hits:
          type: integer
          description: Number of matching granules
        refid:
          type: integer
          nullable: true
          description: The resolved ATL13 lake reference ID, or null if no lake matched
        granules:
          type: array
          description: List of matching granule names
          items:
            type: string
      required:
        - hits
        - refid
        - granules

    ATL24Request:
      allOf:
        - $ref: '#/components/schemas/ICESat2QueryParams'
        - type: object
          description: >
            All fields are optional. Filters are combined with AND logic.
          properties:
            season:
              type: integer
              description: Season value to match
            photons0:
              type: integer
              description: Minimum bathy_photons range
            photons1:
              type: integer
              description: Maximum bathy_photons range
            meandepth0:
              type: number
              description: Minimum bathy_mean_depth range
            meandepth1:
              type: number
              description: Maximum bathy_mean_depth range
            mindepth0:
              type: number
              description: Minimum bathy_min_depth range
            mindepth1:
              type: number
              description: Maximum bathy_min_depth range
            maxdepth0:
              type: number
              description: Minimum bathy_max_depth range
            maxdepth1:
              type: number
              description: Maximum bathy_max_depth range

    ATL24Response:
      type: object
      properties:
        hits:
          type: integer
          description: Total number of matching rows
        granules:
          type: array
          description: List of unique matching granule names
          items:
            type: string
      required:
        - hits
        - granules

    ATL24GranuleResponse:
      type: object
      description: >
        A map of beam name to beam metadata for the requested granule.
      additionalProperties:
        type: object
        properties:
          season:
            type: integer
          bathy_photons:
            type: integer
          bathy_mean_depth:
            type: number
          bathy_min_depth:
            type: number
          bathy_max_depth:
            type: number
          begin_time:
            type: string
            format: date-time